.btn-medium {

  background-color: #02426b;
  border: 2px solid #999999;
  padding: 10px 15px;
  border-radius: 30px;
  font-weight: normal;
  opacity: 5;
  transition-property: background-color;
  transition-duration: 1s;

}

.btn-medium:hover {
  opacity: 5;
  text-decoration: inherit;
  color: #999999;
  background-color: rgb(222, 83, 7) ;
}

.btn-treehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #6AD58B;
}

.btn-treehouse:hover {
  opacity: 1;
  background: #6AD58B;
  text-decoration: none;
  color: white;
}
